################################################################################
# File: .gitignore                                                             #
################################################################################
# IntelliJ IDEA
.idea/
*.iml
*.iws

# Temp files
*.un~
*.swo
*.swp

# Maven
log/
target/

# Derby
derby.log
